body {
	background-color: #FFEFD5;
	font-family: Roboto, Open Sans, sans-serif;
}

table {
	height: 80px;
	width: 100%;
}

.listToDo {
	direction: rtl;
	list-style-image: url(../img/circle.png);
	list-style-position: outside;
}

.listToDo li {
	font-size: 25px;
	text-align: left;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}

ul li.complete {
	color: #b3b3b3;
	direction: rtl;
	list-style-image: url(../img/ok.png);
	list-style-position: outside;
	width: 100%;
}

.addToDo {
	background-color:  #00FF7F;
	border-color: #66CDAA;
	border-radius: 100%; 
	color: #66CDAA;
	font-size: 40px;
	height: 60px;
	margin-left: 95px;
	width: 60px;
}

.buttonAdd {
	width: 70px;
}

.box {
	background-color:  #FFFFFF;
	margin-left: 40%;
	margin-top: 15%;
	width: 250px;
}

.timeNow {
	height: 80px;
	width: 100%;
}

.day {
	font-size: 50px;
	text-align: right;
}

.month , .year {
	font-size: 20px;
}

.month {
	vertical-align: bottom;
}

.year {
	vertical-align: top;
}

.now {
	font-size: 20px;
	text-align: center;
}